{% extends "todo/base.html" %}
{% load todo_templates %}
{% block content %}
<h1 class="title">TaskBook</h1>
<a href="{% url 'todo:new_todo' %}" id="new_todo_link">
    <i class="fas fa-plus"></i>
    New Todo
</a>
{% csrf_token %}
<ul class="none-list-type" id="parent_list">
    {% for todo in todos %}
    <li id ="{{todo.id}}">
    <section class="todo-item">
            <span class="board">{{ todo.todo_item }}</span>
            {% if todo.starred == 0 %}
                <span class="icon has-text-grey star-toggle" id = "{{todo.id}}">
            {% else %}
                <span class="icon has-text-warning star-toggle" id = "{{todo.id}}">
            {% endif %}
                    <i class="fas fa-star"></i>
            </span>

        {% if todo.subitem_set.all %}
        <ol class="sub-item">
                {% for subitem in todo.subitem_set.all %}
                    {% if subitem.status == 0 %}
                    <li>
                    <input type="checkbox" name="{{ subitem.id }}" id="subitem_{{ subitem.id }}" class="completed-checkbox subitem-checkbox" >
                    {% else %}
                    <li class="task-completed">
                    <input type="checkbox" name="{{ subitem.id }}" id="subitem_{{ subitem.id }}" class="completed-checkbox subitem-checkbox" checked>
                    {% endif %}
                    <span>{{ subitem.sub_item }}</span>
                    <span class="relative-date">{{ subitem.sub_created|custom_timestamp }}</span>
                </li>
                {% endfor %}
        </ol>
        {% endif %}
    </section>
</li>

    {% endfor %}
</ul>

<div class="modal" id="new_todo_modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h1>Add new todo</h1>
                <form id="new_todo_form" action="{% url 'todo:add_todo' %}" method="POST" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>

        </div>
        <button class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock %}

