{% extends "todo/base.html" %}
{% load todo_templates %}
{% block content %}
<h1 class="title">TaskBook</h1>
{% csrf_token %}
<ul class="none-list-type">
    {% for todo in todos %}
    <section class="todo-item">
        <li>
            <span class="board">{{ todo.todo_item }}</span>
            {% if todo.starred == 0 %}
                <span class="icon has-text-grey">
            {% else %}
                <span class="icon has-text-warning">
            {% endif %}
                    <i class="fas fa-star"></i>
            </span>
        </li>

        {% if todo.subitem_set.all %}
        <ol class="sub-item">
                {% for subitem in todo.subitem_set.all %}
                    {% if subitem.status == 0 %}
                    <li>
                    <input type="checkbox" name="{{ subitem.id }}" id="subitem_{{ subitem.id }}" class="completed-checkbox subitem-checkbox" >
                    {% else %}
                    <li class="task-completed">
                    <input type="checkbox" name="{{ subitem.id }}" id="subitem_{{ subitem.id }}" class="completed-checkbox subitem-checkbox" checked>
                    {% endif %}
                    <span>{{ subitem.sub_item }}</span>
                    <span class="relative-date">{{ subitem.sub_created|custom_timestamp }}</span>
                </li>
                {% endfor %}
        </ol>
        {% endif %}
    </section>
    {% endfor %}
</ul>
{% endblock %}