{% extends "todo/base.html" %}

{% block content %}
<h1 class="title">Todo</h1>
{% csrf_token %}
<ul class="none-list-type">
    {% for todo in todos %}
        {% if todo.status == 0 %}
            <li>
            <input type="checkbox" name="{{ todo.id }}" id="{{ todo.id }}" class="completed-checkbox">
            {{ todo.todo_item }} :
            {{ todo.description }}

        {% else %}
            <li class="task-completed">
            <input type="checkbox" name="{{ todo.id }}" id="{{ todo.id }}" class="completed-checkbox" checked >
            {{ todo.todo_item }} :
            {{ todo.description }}

        {% endif %}

        {% if todo.starred == 0 %}
            <span class="icon has-text-grey">
        {% else %}
            <span class="icon has-text-warning">
        {% endif %}
                <i class="fas fa-star"></i>
        </span>

        {% if todo.subitem_set.all %}
        <br>
        <ol>
                {% for subitem in todo.subitem_set.all %}
                    {% if subitem.status == 0 %}
                    <li>
                    <input type="checkbox" name="{{ subitem.id }}" id="subitem_{{ subitem.id }}" class="completed-checkbox subitem-checkbox" >
                    {% else %}
                    <li class="task-completed">
                    <input type="checkbox" name="{{ subitem.id }}" id="subitem_{{ subitem.id }}" class="completed-checkbox subitem-checkbox" checked>
                    {% endif %}
                    {{ subitem.sub_item }}
                </li>
                {% endfor %}
        </ol>
        {% endif %}

            </li>

    {% endfor %}
</ul>
{% endblock %}