<li id="{{todo.id}}">
    <section class="todo-item">
            {% if todo.starred == 0 %}
                <span class="icon has-text-grey star-toggle" data-todoid = "{{todo.id}}">
            {% else %}
                <span class="icon has-text-warning star-toggle" data-todoid = "{{todo.id}}">
            {% endif %}
                    <i class="fas fa-star"></i>
            </span>
            <span class="board">{{ todo.todo_item }}</span>

            <ol class="sub-item">

            </ol>
            <a class="new-sub-item" data-todoid = "{{todo.id}}" id = "todo_{{todo.id}}">
                    <i class="fas fa-plus"></i>
                     Add New
                </a>
    </section>
</li>
