.none-list-type{
    list-style: none;
}

.task-completed{
    text-decoration: line-through;
}

.board{
    text-decoration: underline;
}

.sub-item {
    margin-top: 1%;
    margin-left: 3%;
}

.relative-date{
    font-size: 0.8em;
    color: grey;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .sub-item {
        margin-left: 15%;
    }
}

.fa-star{
    font-size: 0.8em;
}
